<div class="row">
  <aside class="col-md-10">
    <section class="user_info">
      <p>
        <%= link_to "My home", current_user, class: "btn btn-lg btn-primary" %>
        <%= link_to "Account Info", profile_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Manage Admins", manage_admin_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Manage Library Members", manage_member_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Manage Books", manage_book_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Log out", logout_path, method: "delete", class: "btn btn-lg btn-primary" %><br><br><br>
      </p>
    </section>
  </aside>
</div>
